* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  --main-load-time: 0.7s;
  --nav-load-time: 0.5s;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)), url(/assets/images/background.jpg);
  background-size: cover;
  background-position: center
}

nav {
  display: flex;
  align-items: center;
  padding: 35px 0px;
  margin-left: 5%;
  margin-right: 8%;
  animation: nav-load var(--nav-load-time) ease-out;
  justify-content: space-between
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav li {
  position: relative;
  list-style: none;
}

nav ul li a {
  text-transform: uppercase;
  font-size: medium;
  text-decoration: none;
  color: #FFF8EA;
}

nav ul li::after {
  content: '';
  height: 1px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

.logo {
  height: 100px;
  width: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  object-fit: cover;
}

.title {
  color: #FFF8EA;
}

.container_main {
  animation: main-load var(--main-load-time) ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
  color: #FFF8EA;
  gap: 5rem;
}

.summary {
  max-width: 500px;
}

.project {
  max-width: 100%;
  height: auto;
  width: 1000px;
}

.project img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  object-fit: cover;
}

.burger {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.burger span {
  width: 100%;
  height: 4px;
  background-color: #FFF8EA;;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s ease-in-out;
}

.burger span::before,
.burger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #FFF8EA;;
  transition: transform 0.5s ease-in-out;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
}

.burger.active span {
  background: transparent;
}

.burger.active span::before {
  transform: translateY(0px) rotateZ(45deg);
  transition: transform 0.5s ease-in-out;
}

.burger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
  transition: transform 0.5s ease-in-out;
}

.link {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(7px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
  text-shadow: black 1px 0 8px;
}

.link.menu_burger {
  display: flex;
}

.link ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav_burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-height : 707px) {
  .banner {
    height: 120vh;
  }

  .link {
    height: 120vh;
  }
}

@media screen and (max-width : 1024px) {

  nav {
    margin-left: 1%;
    margin-right: 6%;
  }
}

@media screen and (max-width : 768px) {

  nav {
    margin-left: 1%;
    margin-right: 6%;
  }
}

@media screen and (max-width : 680px) {

  .title {
    display: none;
  }
}

@media screen and (max-width : 399px) {

  .banner {
    width: 120%;
    height: 120vh;
  }

  .link {
    width: 120%;
    height: 120vh;
  }
  
}

@media screen and (max-width : 322px) {

  .banner {
    width: 125%;
    height: 125vh;
  }

  .link {
    width: 125%;
    height: 125vh;
  }
  
}


@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes main-load {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}